.thlink {
    cursor: pointer;
}

.th1 {
    background-color: #e8e8e8;
    text-shadow: 1px 0 #fff;
}

.mytable {
    border-radius: 4px;
    border: 1px solid #ccc;
}

hr {
 border-top: 1px solid #a5a3a3;
}

.foot {
    color: rgb(157, 157, 157);
    text-align: center;
}

.navbar-my {
    position: relative;
    top: 30px;
    border-radius: 5px;
    background-color: rgb(34, 34, 34);
    min-height: 0px;
}

.title {
    padding: 30px;
}

tbody {
    background-color: #dbf4da;  
}

body{
    background-color: rgba(213, 216, 215, 0.76);
}

@media (max-width: 768px) {
    body {
        font-size: 12px;
    }
    .navbar-my {
        border-radius: 0px;
    }
}